.devise-background
.devise-box
  .white-box
    .header-box
      h2.title = I18n.t("shared.registration")

    = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
      .form-group
        = f.input :email, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control #{"opened" unless resource.email.blank?}".strip} do
          = f.input_field :email, autofocus: true, placeholder: I18n.t("shared.email"), title: I18n.t("shared.email"), autocomplete: "off"
          = f.label :email, I18n.t("shared.email")

      .form-group
        - if @minimum_password_length
          em= " (Минимум символов: #{@minimum_password_length})".freeze
        = f.input :password, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control"} do
          = f.input_field :password, autofocus: true, placeholder: I18n.t("shared.password"), title: I18n.t("shared.password"), autocomplete: "off"
          = f.label :password, I18n.t("shared.password")

      .form-group
        = f.input :password_confirmation, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control"} do
          = f.input_field :password_confirmation, autofocus: true, placeholder: I18n.t("shared.password_confirmation"), title: I18n.t("shared.password_confirmation"), autocomplete: "off"
          = f.label :password_confirmation, I18n.t("shared.password_confirmation")
      
      .form-group.links
        = render "hancock/shared/devise/links"
        
      .actions
        - if Hancock.config.registration_captcha and (!Rails.env.development? or Hancock.config.captcha_on_development)
          - if Hancock.config.recaptcha_support
            - unless @recaptcha_error.blank?
              h4.error.g-recaptcha-error= @recaptcha_error
            = recaptcha_tags

        = f.button :button do
          = I18n.t("shared.registration")