$black: #212529
$white: #fefefe
$light-grey: #FAFAFA

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&display=swap&subset=cyrillic')

/// TRANSFORM ----------------------------------------------------

=transform($params)
  +css3-prefix("transform", $params)

/// TRANSFORM-ORIGIN ---------------------------------------------

=transform-origin($params)
  +css3-prefix("transform-origin", $params)

/// TRANSFORM-STYLE ----------------------------------------------

=transform-style($style: preserve-3d)
  +css3-prefix("transform-style", $style)

/// TRANSITION ---------------------------------------------------

=transition($properties...)
  @if length($properties) >= 1
    +css3-prefix("transition", $properties)
  @else
    +css3-prefix("transition", "all 0.2s ease-in-out 0s")

/// COVER IMAGE --------------------------------------------------

=cover-image()
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale')
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')"

/// DISPLAY FLEX --------------------------------------------------

=display-flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

/// INLINE FLEX ---------------------------------------------------

=inline-flex()
  display: -webkit-inline-box
  display: -moz-inline-box
  display: -webkit-inline-flex
  display: -ms-inline-flexbox
  display: inline-flex

/// FLEX DIRECTION -------------------------------------------------

=flex-direction($value: row)
  @if $value == row-reverse
    -webkit-box-direction: reverse
    -webkit-box-orient: horizontal
    -moz-box-direction: reverse
    -moz-box-orient: horizontal
  @else if $value == column
    -webkit-box-direction: normal
    -webkit-box-orient: vertical
    -moz-box-direction: normal
    -moz-box-orient: vertical
  @else if $value == column-reverse
    -webkit-box-direction: reverse
    -webkit-box-orient: vertical
    -moz-box-direction: reverse
    -moz-box-orient: vertical
  @else
    -webkit-box-direction: normal
    -webkit-box-orient: horizontal
    -moz-box-direction: normal
    -moz-box-orient: horizontal
  -webkit-flex-direction: $value
  -ms-flex-direction: $value
  flex-direction: $value

/// FLEX WRAP -------------------------------------------------------

=flex-wrap($value: nowrap)
  -webkit-flex-wrap: $value
  @if $value == nowrap
    -ms-flex-wrap: none
  @else
    -ms-flex-wrap: $value
    flex-wrap: $value

/// FLEX JUSTIFY CONTENT --------------------------------------------

=justify-content($value: flex-start)
  @if $value == flex-start
    -webkit-box-pack: start
    -moz-box-pack: start
    -ms-flex-pack: start
  @else if $value == flex-end
    -webkit-box-pack: end
    -moz-box-pack: end
    -ms-flex-pack: end
  @else if $value == space-between
    -webkit-box-pack: justify
    -moz-box-pack: justify
    -ms-flex-pack: justify
  @else if $value == space-around
    -ms-flex-pack: distribute
  @else
    -webkit-box-pack: $value
    -moz-box-pack: $value
    -ms-flex-pack: $value
  -webkit-justify-content: $value
  justify-content: $value

/// FLEX ALIGN CONTENT ----------------------------------------------

=align-content($align)
  -webkit-align-content: $align
  -moz-align-content: $align
  -ms-align-content: $align
  align-content: $align

/// FLEX ALIGN ITEMS ------------------------------------------------

=align-items($value: stretch)
  @if $value == flex-start
    -webkit-box-align: start
    -moz-box-align: start
    -ms-flex-align: start
  @else if $value == flex-end
    -webkit-box-align: end
    -moz-box-align: end
    -ms-flex-align: end
  @else
    -webkit-box-align: $value
    -moz-box-align: $value
    -ms-flex-align: $value
  -webkit-align-items: $value
  align-items: $value

/// FLEX FLOW -------------------------------------------------------

=flex-flow($values: (row nowrap))
  -webkit-flex-flow: $values
  -ms-flex-flow: $values
  flex-flow: $values

/// FLEX ORDER ------------------------------------------------------
=flex-order($int: 0)
  -webkit-box-ordinal-group: $int + 1
  -moz-box-ordinal-group: $int + 1
  -webkit-order: $int
  -ms-flex-order: $int
  order: $int

/// FLEX GROW -------------------------------------------------------

=flex-grow($int: 1)
  -webkit-box-flex: $int
  -moz-box-flex: $int
  -webkit-flex-grow: $int
  -ms-flex: $int
  flex-grow: $int

/// FLEX SHRINK -----------------------------------------------------

=flex-shrink($int: 0)
  -webkit-flex-shrink: $int
  -moz-flex-shrink: $int
  -ms-flex: $int
  flex-shrink: $int

// ------------------------------------------------------------------

body.devise
  background: $white
  +display-flex()
  +flex-flow(row wrap)
  color: $black
  font-family: Montserrat, Helvetica, sans-serif
  letter-spacing: 0em
  line-height: 1.5
  #root
    +display-flex()
    +flex-flow(row wrap)
    +justify-content(flex-start)
    > div
      height: 100%
      width: auto
    .container
      width: 100%
      padding: 25px 0px
      &:before, &:after
        content: none
      &:empty
        padding: 0px
  .aside
    +display-flex()
    +flex-flow(column wrap)
    max-width: 605px
    padding: 48px 56px
    background-image: image-url("hancock/devise/devise.jpg")
    +cover-image()
    +align-content(space-between)
    -webkit-box-flex: 1
    -ms-flex: 1 0 auto
    flex: 1 0 auto
    header
      +display-flex()
      width: 100%
      +flex-flow(row wrap)
      -webkit-box-flex: 0
      -ms-flex: none
      flex: none
    .content
      +display-flex()
      +flex-flow(column wrap)
      width: 100%
      -webkit-box-flex: 1
      -ms-flex: 1 0 auto
      flex: 1 0 auto
    footer
      +display-flex()
      width: 100%
      +flex-flow(column wrap)
      -webkit-box-flex: 0
      -ms-flex: none
      flex: none
      .container
        +display-flex()
        +flex-flow(row wrap)
        +justify-content(space-between)
      a
        font-size: 12px
        text-decoration: none
        display: inline-block
        color: rgba(255, 255, 255, 0.7)
        position: relative
        &:after
          display: block
          content: ''
          position: absolute
          bottom: 0
          top: 16px
          left: 0
          width: 0%
          +transition(width 0.3s ease-in)
      a:hover
        color: $white
        &:after
          border-bottom: 1px solid $white
          opacity: 0.3
          width: 100%
  h3
    color: $white
    font-size: 36px
    font-weight: 500
  h4
    font-size: 20px
    font-weight: 300
    margin: 24px 0 56px 0
    color: rgba(255, 255, 255, 0.7)
  #content
    +display-flex()
    +flex-flow(column wrap)
    +align-items(center)
    +align-content(center)
    +justify-content(center)
    min-width: 0
    padding: 48px 48px
    background: $white
    max-width: 100%
    width: auto
    height: 100%
  h2
    font-size: 32px
    color: #67666e
    font-weight: 500
    margin-bottom: 50px
  form
    width: 100%
    max-width: 450px
    .actions
      +display-flex()
      +align-items(center)
      +justify-content(space-between)
      margin: 15px 0
  .hancock-cms-link
    text-align: center
    font-size: 12px
    padding: 20px 0px 0px
    color: rgba(255,255,255,0.8)
  .hancock-textfield
    display: block
    padding-top: .9375rem
    margin-bottom: 10px
    position: relative
    > input
      animation-duration: 0.0001s
      animation-name: mui-textfield-inserted
      height: 2rem
      text-align: center
    > input,
    > textarea
      -webkit-box-sizing: border-box
      box-sizing: border-box
      display: block
      background-color: transparent
      color: rgba(0,0,0,.87)
      border: none
      border-bottom: 1px solid rgba(0,0,0,.26)
      outline: 0
      width: 100%
      padding: 0
      -webkit-box-shadow: none
      box-shadow: none
      border-radius: 0
      font-size: 1rem
      font-family: inherit
      line-height: inherit
      background-image: none
    > label
      position: absolute
      top: 0
      display: block
      width: 100%
      color: rgba(0,0,0,.54)
      font-size: .75rem
      font-weight: 400
      line-height: .9375rem
      overflow-x: hidden
      text-overflow: ellipsis
      white-space: nowrap
  .hancock-textfield-float-label
    > label
      position: absolute
      -webkit-transform: translate(0,.9375rem)
      transform: translate(0,.9375rem)
      font-size: 1rem
      line-height: 2rem
      color: rgba(0,0,0,.26)
      text-overflow: clip
      cursor: text
      pointer-events: none
    input::-webkit-input-placeholder
      color: white
    input::-moz-placeholder
      color: white
    input:-ms-input-placeholder
      color: white
    input:-moz-placeholder
      color: white
  .hancock-textfield-float-label
    > input:not(:placeholder-shown):not(:focus),
    > textarea:not(:placeholder-shown):not(:focus)
      ~ label
        color: rgba(0,0,0,.54)
        font-size: .75rem
        line-height: .9375rem
        -webkit-transform: translate(0,0)
        transform: translate(0,0)
        text-overflow: ellipsis
  .hancock-textfield.hancock-textfield-float-label
    > label
      -webkit-transition: all .15s ease-out
      -moz-transition: all .15s ease-out
      -o-transition: all .15s ease-out
      transition: all .15s ease-out
    > input,
    > textarea
      &:focus
        ~ label
          -webkit-transform: translate(0,0)
          transform: translate(0,0)
          font-size: .75rem
          line-height: .9375rem
          text-overflow: ellipsis
  .hancock-textfield
    > input:focus,
    > textarea:focus
      height: calc(2rem + 1px)
      margin-bottom: -1px
    &.field_with_errors
      > input,
      > textarea
        height: calc(2rem + 1px)
        margin-bottom: -1px
  .hancock-textfield
    > input,
    > textarea
      height: 2rem
  .hancock-textfield
    > input:focus,
    > textarea:focus
      border-color: #2196F3
      border-width: 2px
    &.field_with_errors
      > input,
      > textarea
        border-color: #F44336
        border-width: 2px
        ~ label
          color: #F44336
      > input:focus,
      > textarea:focus
        ~ label
          color: #F44336
      > span
        color: #F44336
        font-size: 12px
        font-weight: 300
  .hancock-textfield
    > input:focus,
    > textarea:focus
      ~ label
        color: #2196F3
  button.btn
    font-weight: 500
    font-size: .875rem
    line-height: 1.125rem
    text-transform: uppercase
    color: #ffffff
    background-color: #39a1f4
    -webkit-transition: all .2s ease-in-out
    transition: all .2s ease-in-out
    display: inline-block
    height: 2.25rem
    padding: 0 1.625rem
    margin: .375rem 0
    border: none
    border-radius: 2px
    cursor: pointer
    -ms-touch-action: manipulation
    touch-action: manipulation
    background-image: none
    text-align: center
    line-height: 2.25rem
    vertical-align: middle
    white-space: nowrap
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    font-size: .875rem
    font-family: inherit
    letter-spacing: .03em
    position: relative
    overflow: hidden
    &:hover
      -webkit-box-shadow: 0 0 4px rgba(0,0,0,.12), 1px 3px 4px rgba(0,0,0,.2)
      box-shadow: 0 0 4px rgba(0,0,0,.12), 1px 3px 4px rgba(0,0,0,.2)
      color: #ffffff
    &:focus,
    &:active,
    &:hover
      outline: 0
      text-decoration: none
  button.btn + button.btn
    margin-left: .5rem
  .form-group.links
    +display-flex()
    +flex-flow(row wrap)
    +justify-content(space-between)
    +align-items(center)
    margin: 15px 0
    font-size: 14px
    > *
      margin: 10px
    a
      text-decoration: none
      display: inline-block
      color: $black
      position: relative
      &:after
        display: block
        content: ''
        position: absolute
        bottom: 0
        top: 16px
        left: 0
        width: 0%
        +transition(width 0.3s ease)
    a:hover
      color: $black
      &:after
        border-bottom: 1px solid $black
        opacity: 0.3
        width: 100%
        
.hancock-switch
  label
    input
      display: none
    span
      position: relative
      display: inline-block
      min-width: 112px
      cursor: pointer
      text-align: left
      margin: 0px
      padding: 0px 0 0px 44px
      color: #9E9E9E
      font-weight: normal
      +transition(all 0.3s ease-in)
      &:before,
      &:after
        content: ""
        position: absolute
        margin: 0
        outline: 0
        top: 50%
        +transform(translate(0, -50%))
        +transition(all 0.3s ease-in)
      &:before
        left: 1px
        width: 34px
        height: 14px
        background-color: lighten(#9E9E9E, 10%)
        border-radius: 8px
        +transition(all 0.3s ease-in)
      &:after
        left: 0
        width: 20px
        height: 20px
        background-color: #FAFAFA
        border-radius: 50%
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084)
    input:checked + span:before
      background-color: lighten(#39a1f4,25%)
    input:checked + span:after
      background-color: #39a1f4
      +transform(translate(80%, -50%))
  &:hover
    label span
      color: darken(#9E9E9E, 10%)
      &:before
        background-color: #9E9E9E

body.devise
  #root
    width: 100%
  #content
    -webkit-box-flex: 1
    -webkit-flex: 1 auto
    -ms-flex: 1 auto
    flex: 1 auto
  #aside
    -webkit-box-flex: 0
    -webkit-flex: 0 1
    -ms-flex: 0 1
    flex: 0 1

@media (max-width: 1024px)
  body.devise #root > div
    height: auto
    width: 100%
    max-width: none
  body.devise h4
    margin: 10px 0 10px 0
    line-height: 1.2em
  body.devise #root .container
    padding: 10px 0px
  body.devise h3
    margin: 15px auto
    line-height: 1.2em
  body.devise .hancock-cms-link
    padding: 0
    margin-top: 15px
  body.devise h2
    font-size: 32px
    color: #67666e
    font-weight: 500
    margin-bottom: 25px