.devise-background
.devise-box
  .white-box
    .header-box
      h2.title = I18n.t("shared.change_password")

    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      /= devise_error_messages!

      = f.hidden_field :reset_password_token
      
      .form-group
        - if @minimum_password_length
          em= " (Минимум символов: #{@minimum_password_length})".freeze
        = f.input :password, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control"} do
          = f.input_field :password, autofocus: true, placeholder: I18n.t("shared.password"), title: I18n.t("shared.password"), autocomplete: "off"
          = f.label :password, I18n.t("shared.password")

      .form-group
        = f.input :password_confirmation, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control"} do
          = f.input_field :password_confirmation, autofocus: true, placeholder: I18n.t("shared.password_confirmation"), title: I18n.t("shared.password_confirmation"), autocomplete: "off"
          = f.label :password_confirmation, I18n.t("shared.password_confirmation")
        
      .form-group.links
        = render "hancock/shared/devise/links"
      
      .actions
        = f.button :button do
          = I18n.t("shared.change_password")