.devise-background
.devise-box
  .white-box
    .header-box
      h2.title = I18n.t("shared.forgot_password")

    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      /= devise_error_messages!

      .form-group
        = f.input :email, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control #{"opened" unless resource.email.blank?}".strip} do
          = f.input_field :email, autofocus: true, placeholder: I18n.t("shared.email"), title: I18n.t("shared.email"), autocomplete: "off"
          = f.label :email, I18n.t("shared.email")
      
      .form-group.links
        = render "hancock/shared/devise/links"
      
      .actions
        = f.button :button do
          = I18n.t("shared.password_repair_request")
