header
  .container
.content
  .container
    h3
      = I18n.t("devise.aside.wellcome")
    h4
      = I18n.t("devise.aside.managed")
      br
      | Hancock CMS
footer
  .container
    = link_to I18n.t("devise.aside.privacy"), privacy_policy_path, title: I18n.t("devise.aside.privacy"), target: "_blank"
    = link_to I18n.t("devise.aside.contact_with_dev"), "//redrocks.pro/contacts", title: I18n.t("devise.aside.goto_dev"), target: "_blank"

  .hancock-cms-link
    = link_to "Hancock v.#{Hancock::VERSION}", "https://github.com/red-rocks/hancock_cms", title: I18n.t("devise.aside.documentation"), target: "_blank"
    span = " © 2016-#{Time.new.year}"