.devise-background
.devise-box
  .white-box
    .header-box
      h2.title = I18n.t("shared.enter_site")
    = simple_form_for(resource, as: resource_name, url: user_session_path) do |f|
      - if @enter_site_error
        p.error.enter_site_error= @enter_site_error

      .form-group
        = f.input :email, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control #{"opened" unless resource.email.blank?}".strip} do
          = f.input_field :email, autofocus: true, placeholder: I18n.t("shared.email"), title: I18n.t("shared.email"), autocomplete: "off"
          = f.label :email, I18n.t("shared.email")

      .form-group
        = f.input :password, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control"} do
          = f.input_field :password, autofocus: true, placeholder: I18n.t("shared.password"), title: I18n.t("shared.password"), autocomplete: "off"
          = f.label :password, I18n.t("shared.password")

      .form-group.links
        - if devise_mapping.rememberable?
          - label = content_tag(:span, I18n.t("shared.remember_me"))
          = f.input :remember_me, as: :boolean, title: I18n.t("shared.remember_me"), label: label, wrapper_html: {class: "hancock-switch"}

        = render "hancock/shared/devise/links"

      .actions
        - if Hancock.config.admin_enter_captcha and (!Rails.env.development? or Hancock.config.captcha_on_development)
          - if Hancock.config.recaptcha_support
            - unless @recaptcha_error.blank?
              h4.error.g-recaptcha-error= @recaptcha_error
            = recaptcha_tags

        = f.button :button, title: I18n.t("shared.enter") do
          = I18n.t("shared.enter")
    
