.devise-background
.devise-box
  .white-box
    .header-box
      h2.title = I18n.t("shared.resend_unlock_instructions")

    /= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    /  = render "hancock/shared/devise/error_messages", resource: resource
    /  .field
    /    = f.label :email
    /    = f.email_field :email, autofocus: true, autocomplete: "email"
    /  .actions
    /    = f.submit t('.resend_unlock_instructions')

    /= render "hancock/shared/devise/links"


    /= render "hancock/shared/devise/error_messages", resource: resource

    = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|

      .form-group
        = f.input :email, label: false, wrapper_html: {class: "hancock-textfield hancock-textfield-float-label form-control #{"opened" unless resource.email.blank?}".strip} do
          = f.input_field :email, autofocus: true, placeholder: I18n.t("shared.email"), title: I18n.t("shared.email"), autocomplete: "off"
          = f.label :email, I18n.t("shared.email")

      .form-group.links
        = render "hancock/shared/devise/links"

      .actions
        = f.button :button, title: I18n.t("shared.resend_unlock_instructions") do
          = I18n.t("shared.resend_unlock_instructions")

